.headerContacts {
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 7vw;
    padding: 2.5vh 10vw;
    background-color: rgb(27, 27, 27);
    border-bottom: solid 1px white;
    position: relative;
}

.headerItem {
    color: white;
}

.headerTitle {
    flex: 1;
    color: white;
}

.logoContainer {
    position: absolute;
    left: 2%;
    height: 100%;
}

.logo {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.headerItem {
    cursor: pointer;
}